.emailInput {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 10px;
  width: 100%;
}
.input-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20%;
}
.select #code {
  border: 1px solid #384160;
  background: #2b324a;
  color: #7b8db7;
  padding-left: 0.2rem;
  border: 1px solid #384160;
  height: 80%;
  height: 100%;
}
.type {
  width: 83%;
  height: 80%;
}
#numb {
  /* border-right: 0; */
  border-radius: 0px 8px 8px 0px;
}
.hpr-input input {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  width: 300px;
  color: #7b8db7;
  padding: 1rem;
  border-radius: 0 7px 7px 0;
  background: #1f2138;
  border: 1px solid #384160;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.5px;
}
.type {
  border-radius: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
}
.hpr-input input::placeholder {
  color: #7b8db7;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-weight: 500;
  /* padding-left: 5px;    */
}
#code option {
  color: #7b8db7;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.input-area select {
  /* height: 100px; */
  height: 80%;
  /* max-height: 44px; */
  width: 60px;
  border: 1px solid black;
  border-radius: 7px 0 0 7px;
  font-weight: 700;
  font-size: 18px;
}
.emailInputWrapper {
  font-style: normal;
  font-family: "Avenir Next";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #3d4043;
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
}

.emailInputWrapper input {
  max-width: 100%;
  max-height: 25px;
  background: #fff;
  border: 1px solid #2070f4;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  outline: none;
  padding: 10px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #d8e4fd;
}

.emailInput input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: black;
}

.emailInputBottomLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #3d4043;
}

.emailInputBottomLine div {
  border: 1px solid #3d4043;
  width: 100%;
}
